* {font-size:14px;font-family:"Roboto",sans-serif;}

a {text-decoration:none;color:gray;}

h1, h2, h3, h4 {margin:0;}

h1 {font-family:"Abril Fatface",serif;font-size:4.5rem;}

h2, h3, h4 {font-family:"Bellefair",serif;}
h2 {font-size:2.8rem;}
h3 {font-size:2.3rem;}
h4 {font-size:2rem;}

header {margin-bottom:20px;}
section {margin:20px 0;}
nav, footer {margin-top:20px;}

nav {border-top:1px solid;border-bottom:1px solid;padding:5px 0;}

header > h1, header > h2, nav {width:100%;display:flex;justify-content:space-evenly;}
